<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>마켓 프레시</title>
<!-- Include the Tailwind CSS -->
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div th:replace="~{fragments/header::h}"></div>
    <div layout:fragment="content"></div>
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // 드롭다운 메뉴 토글 스크립트 (기본적으로 Tailwind CSS에는 드롭다운 지원이 없어 JS 필요)
            document.addEventListener('click', function (event) {
                const dropdownToggle = document.querySelector('button[type="button"]');
                const dropdownMenu = document.querySelector('.origin-top-right');
                if (dropdownToggle && dropdownMenu) {
                    if (dropdownToggle.contains(event.target)) {
                        dropdownMenu.classList.toggle('hidden');
                    } else {
                        dropdownMenu.classList.add('hidden');
                    }
                }
            });
            
            // 장바구니 모달창에서 제품 수량 조절
            // 수량 조절 버튼 핸들링
		    document.querySelectorAll('.decreaseQty').forEach(button => {
		        button.addEventListener('click', function () {
		            const quantityInput = this.nextElementSibling;
		            let currentValue = parseInt(quantityInput.value, 10);
		            if (currentValue > 1) {
		                quantityInput.value = currentValue - 1;
		            }
		        });
		    });
		
		    document.querySelectorAll('.increaseQty').forEach(button => {
		        button.addEventListener('click', function () {
		            const quantityInput = this.previousElementSibling;
		            quantityInput.value = parseInt(quantityInput.value, 10) + 1;
		        });
		    });
            
            // 장바구니 모달창 열기, 닫기
            const openCartModalButtons = document.querySelectorAll('[id^="openCartModal-"]');
            const cancelButtons = document.querySelectorAll('.cancelBtn');

            openCartModalButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const modalId = this.id.replace('openCartModal', 'cartModal');
                    const modal = document.getElementById(modalId);
                    modal.classList.remove('hidden');
                });
            });

            cancelButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const modal = this.closest('.fixed');
                    modal.classList.add('hidden');
                });
            });
            
         // 전체 선택 체크박스
         const selectAllBtn = document.getElementById('selectAllBtn');
         
         // 모든 상품 체크박스
         const itemCheckboxes = document.querySelectorAll('.item-checkbox');
         
         // 선택된 상품 수 디스플레이
         const selectedItemCountBox = document.getElementById('selectedItemCountBox');
         
         selectAllBtn.addEventListener('change', () => {
             const isChecked = selectAllBtn.checked;
             
             itemCheckboxes.forEach(checkbox => {
                 checkbox.checked = isChecked;
                 if (checkbox.checked) {
                     selectedItemCountBox.textContent = parseInt(selectedItemCountBox.textContent) + 1;
                 }
                 else {
                     selectedItemCountBox.textContent = parseInt(selectedItemCountBox.textContent) - 1;
                 }
             });
         });
         
         itemCheckboxes.forEach(checkbox => {
             checkbox.addEventListener('change', () => {
                 if (checkbox.checked) {
                     selectedItemCountBox.textContent = parseInt(selectedItemCountBox.textContent) + 1;
                 }
                 else {
                     if (selectAllBtn.checked) selectAllBtn.checked = false;
                	 selectedItemCountBox.textContent = parseInt(selectedItemCountBox.textContent) - 1;
                 }
             });
         });
         
         // 장바구니에 담긴 상품 정보 중 체크박스 활성화된 요소만 선택삭제 처리
         const form = document.getElementById('removeSelectedItemsForm');
         form.addEventListener('submit', (event) => {
             const selectedProductIds = Array.from(itemCheckboxes)
                 .filter(checkbox => checkbox.checked)
                 .map(checkbox => checkbox.value);

             document.getElementById('selectedProductIds').value = selectedProductIds.join(',');
         });
        });
    </script>
</body>
</html>