<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}"
>
    <div layout:fragment="content">
        <div class="max-w-[640px] mx-auto text-center">
            <div class="flex items-center justify-between mt-[50px] mb-[12px]">
                <div>총 300건</div>
                
                <ul class="flex items-center">
                    <li><a href="/?sorted_type=0" class="block p-2">신상품순</a></li>
                    <li><a href="/?sorted_type=1" class="block p-2">낮은 가격순</a></li>
                    <li><a href="/?sorted_type=2" class="block p-2">높은 가격순</a></li>
                </ul>
            </div>
            
            <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
	            <div class="max-w-xs rounded overflow-hidden shadow-lg bg-white border mx-auto" th:each="product: ${products}">
	               <div class="relative">
                        <img class="w-full" th:src="${product.imageURL}" alt="Product Image">
                    </div>
	            
				    <!-- Add to Cart Button -->
				    <div class="px-6 py-4">
				        <button class="w-full bg-white border border-gray-300 text-gray-700 font-bold py-2 px-4 rounded shadow-sm hover:bg-gray-50 flex items-center justify-center">
				            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                            </svg>
				            
				            <span class="ml-1">담기</span>
				        </button>
				    </div>            
                    <!-- Product Information -->
				    <div class="px-6 py-4">
				        <h3 class="font-bold text-lg">[ [[${product.brand}]] ] [[${product.name}]]</h3>
				        <p class="text-gray-500 text-sm mt-2" th:text="${product.description}"></p>
				    </div>
				    
				    <!-- Price Section -->
				    <div class="px-6 py-4">
				        <p class="text-gray-500 text-sm">[[${product.price}]]원</p>
				        <p class="text-gray-500 text-sm mt-1">재고수량: [[${product.stockQuantity}]]</p>
				    </div>
                </div>
            </div>
        </div>
    </div>
</html>
